html,
body {
	height: 100%;
}

table td,
table td * {
	vertical-align: top;
}

.header-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	background-color: rgba(255, 255, 255, 0);
	transition: top 0.4s;
	transition: 0.2s;
}

* {
	font-family: "Poppins", sans-serif !important;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0;
}

.slide-container {
	position: relative;
	border-radius: 12px;
	overflow: hidden;
}

.slide-item {
	width: 100%;
	height: 320px;
	display: none;
	background-color: red;
	position: relative;
}

.slide-prev, .slide-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	margin-top: -22px;
	padding: 16px;
	color: white !important;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
}

.slide-next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.slide-prev:hover, .slide-next:hover {
	background-color: rgba(0,0,0,0.8);
}

.slide-title {
	color: #f2f2f2;
	font-size: 15px;
	padding: 8px 12px;
	position: absolute;
	bottom: 32px;
	width: 100%;
	text-align: center;
}

.slide-mitra {
	color: #f2f2f2;
	position: absolute;
	top: 12px;
	right: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slide-dot {
	cursor: pointer;
	height: 8px;
	width: 8px;
	margin: 0 4px;
	background-color: #5c5c5c;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}

.slide-indicator {
	position: absolute;
	text-align: center;
	bottom: 12px;
	left: 0; 
	right: 0; 
	margin-left: auto; 
	margin-right: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
}

.slide-overlay {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
}

.active, .slide-dot:hover {
	height: 10px;
	width: 10px;
	background-color: #ffffff;
}

.slide-fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}
  
@keyframes fade {
	from {opacity: .4}
	to {opacity: 1}
}

/* TYPOGRAPHY */
a {
	color: #393939;
	margin: 0;
}

a:hover {
	color: #393939;
	text-decoration: none;
}

.title-big {
	font-size: 40px;
	font-weight: 700;
	margin: 0;
}

.title-medium {
	font-size: 32px;
	font-weight: 700;
	margin: 0;
}

h1 {
	font-size: 32px;
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 24px;
	font-weight: 700;
	margin: 0;
}

h3 {
	font-size: 20px;
	font-weight: 700;
	margin: 0;
}

h4 {
	font-size: 16px;
	font-weight: 700;
	margin: 0;
}

.paragraph-big {
	font-size: 20px;
	margin: 0;
}

.paragraph-medium {
	font-size: 16px;
	margin: 0;
}

.paragraph-small {
	font-size: 14px;
	margin: 0;
}

.paragraph-tiny {
	font-size: 12px;
	margin: 0;
}

/* BACKGROUND COLOR */
.bg-primary {
	background-color: #1ea5a8 !important;
}

.bg-primary-dark {
	background-color: #117272 !important;
}

.bg-white {
	background-color: #ffffff !important;
}

.bg-black {
	background-color: #393939 !important;
}

.bg-error {
	background-color: #ff5757 !important;
}

.bg-warning {
	background-color: #ffb16d !important;
}

.bg-success {
	background-color: #1ea5a8 !important;
}

/* COLOR */
.color-primary {
	color: #1ea5a8 !important;
}

.color-primary-dark {
	color: #117272 !important;
}

.color-white {
	color: #ffffff !important;
}

.color-black {
	color: #393939 !important;
}

.color-error {
	color: #ff5757 !important;
}

.color-warning {
	color: #ffb16d !important;
}

.color-success {
	color: #1ea5a8 !important;
}

/* BUTTON */
.btn-primary {
	background-color: #1ea5a8;
	border-color: #1ea5a8 !important;
	border-radius: 8px;
	padding: 12px 20px;
}

.btn-primary:hover {
	background-color: #117272;
}

.btn-white {
	background-color: #ffffff;
	border-color: #ffffff !important;
	border-radius: 8px;
	padding: 12px 20px;
	transition: 0.2s;
}

.btn-white:hover {
	transform: scale(1.02);
}

.btn-primary-transparent {
	background-color: rgba(30, 165, 168, 0.2);
	border-color: rgba(30, 165, 168, 0.2) !important;
	border-radius: 8px;
	padding: 12px 20px;
}

.btn-primary-transparent:hover {
	background-color: rgba(30, 165, 168, 1);
}

.btn-primary-transparent:hover h4 {
	color: #ffffff !important;
}

.btn-outline-primary {
	border-color: #1ea5a8;
	color: #1ea5a8 !important;
}

.btn-outline-primary:hover {
	background-color: #1ea5a8;
	border-color: #1ea5a8;
	color: #ffffff !important;
}

.br-12 {
	border-radius: 12px;
}

.card-transparent {
	background-color: rgba(57, 57, 57, 0.08);
	border-radius: 12px;
	padding: 20px;
	transition: 0.2s;
}

.card-transparent:hover {
	transform: scale(1.02);
}

.grid-3 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 20px;
}

.grid-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.grid-2-alt {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	padding-left: 20px;
}

.card-item {
	border-radius: 12px;
	overflow: hidden;
	transition: 0.2s;
}

.card-item:hover {
	transform: scale(1.02);
	box-shadow: rgba(57, 57, 57, 0.2) 12px 20px 40px;
}

.card-item-title {
	background-color: #fbfbfb;
	padding: 20px;
}

.card-item-title h3 {
	margin-right: 12px;
}

.card-item-price {
	background-color: #f3f3f3;
	padding: 16px 20px;
}

.img-profile {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
}

.paket-radio-container {
	margin: 0 !important;
	margin-bottom: 12px !important;
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.paket-radio-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.paket-radio-container input ~ .content {
	border: #ffffff solid 1px;
	border-radius: 12px;
	padding: 12px 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	transition: 0.2s;
}

.paket-radio-container input ~ .content * {
	margin: 0;
	color: #fff;
}

.paket-radio-container input ~ .content i {
	position: absolute;
	right: 0;
	opacity: 0;
	transition: 0.2s;
}

.paket-radio-container input:hover ~ .content {
	transform: scale(1.02);
}

.paket-radio-container input:checked ~ .content {
	background-color: #ffffff;
	padding-right: 56px;
}

.paket-radio-container input:checked ~ .content * {
	color: #1ea5a8;
}

.paket-radio-container input:checked ~ .content i {
	right: 20px;
	opacity: 1;
}

.grid-3-child-hide {
	display: none !important;
}

.mt-100 {
	margin-top: 100px !important;
}

.tablink {
	background-color: #f3f3f3;
	color: #3d3d3d;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	border-radius: 8px 8px 0px 0px;
	font-size: 16px;
	flex: 1;
	transition: 0.2s;
}

.tablink2 {
	background-color: #fff;
	color: #3d3d3d84;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 12px 20px;
	font-size: 16px;
	flex: 1;
	transition: 0.2s;
	border-bottom: 0px solid #1ea5a8;
}

.tablink:focus, .tablink2:focus {
	outline: none !important;
	box-shadow: none !important;
}

.tablink:hover, .tablink2:hover {
	background-color: #e0e0e0;
}

.tabcontent, .tabcontent2 {
	display: none;
}

.rating {
	position: relative;
}

.rating label {
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

.rating label:last-child {
	position: static;
}

.rating label:nth-child(1) {
	z-index: 5;
}

.rating label:nth-child(2) {
	z-index: 4;
}

.rating label:nth-child(3) {
	z-index: 3;
}

.rating label:nth-child(4) {
	z-index: 2;
}

.rating label:nth-child(5) {
	z-index: 1;
}

.rating label input[type="radio"] {
	display: none;
}

.rating label input ~ .bx {
	color: rgba(57, 57, 57, 0.08);
	transition: 0.2s;
}

.rating:hover label:hover input ~ .bx,
.rating:not(:hover) label input:checked ~ .bx {
	color: #1ea5a8;
}

@media only screen and (max-width: 1280px) {
	.header-container {
		padding: 0 40px;
	}

	.res-p-4 {
		padding-left: 40px !important;
		padding-right: 40px !important;
	}

	.grid-3 {
		grid-template-columns: 1fr 1fr;
	}

	.grid-3-child-wide {
		grid-column: 1/3;
	}

	.grid-3-child-hide {
		display: flex !important;
	}
}

@media only screen and (max-width: 991px) {
	.grid-2-alt {
		grid-template-columns: 1fr;
	}
}

@media only screen and (max-width: 767px) {
	.grid-2-alt {
		grid-template-columns: 1fr;
		padding-left: 0px;
		padding-top: 20px;
	}
}

@media only screen and (max-width: 720px) {
	.header-container {
		padding: 0 12px;
	}

	.res-p-4 {
		padding-left: 12px !important;
		padding-right: 12px !important;
	}

	.grid-3 {
		grid-template-columns: 1fr;
	}

	.grid-3-child-wide {
		grid-column: 1;
	}

	.grid-2 {
		grid-template-columns: 1fr;
	}

	.mt-100 {
		margin-top: 0px !important;
	}
}
